@page "/auth"

@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize(Roles = "Admin")]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>

@code {
    private async Task CheckRoles()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user is not null && user.Identity.IsAuthenticated)
        {
            var isAdmin = user.IsInRole("Admin");
            Console.WriteLine($"Is Admin: {isAdmin}");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await CheckRoles();
    }
}
